body{
    font-family: 'Montserrat', sans-serif;
}

.clear{
    clear: both;
}

.navigation.bgVisible{
    background-color: #fff;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
    box-shadow: 0 10px 12px -14px rgba(0,0,0,.29 );
}


.navigation{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

.logo{
    width: 180px;
    margin-top: 25px;
    margin-left: 65px;
    float: left;
}

.navigation ul{
    float: right;
    margin-right: 10vw;
    margin-top: 35px
}

.navigation ul li{
    display: inline;
    margin-left: 5vw;
}

.navigation ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    color: #fff;
}

.navigation ul li a:hover{
    color: #F0385A;
}

.navigation ul li a.visible{
    color: #001626;
}

.navigation ul li a.visible:hover{
    color: #F0385A;
}

#headerTextHome{
    position: relative;
    float: left;
    margin-left: 8vw;
    margin-top: 35vh;
    z-index: 2;
}

#headerTextHome h1{
    font-weight: bold;
    font-size: 3em;
}

#headerTextHome p{
    margin-top: 40px;
    width: 566px;
    font-size: 1.1em;
    line-height: 24px;
}

#headerTextHome a{
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    background-color: #F0385A;
    border: 4px solid #F0385A;
    color: #fff;
    border-radius: 30px;
    padding: 18px 36px 18px 36px;
    margin-top: 40px;
}

#headerTextHome a:hover{
    color: #F0385A;
    background-color: #fff;
    border: 4px solid #F0385A;
}

#headerImageHome{
    position: absolute;
    width: 895px;
    margin-left: 38vw;
}

#tagline{
    text-align:center;
    width: 760px;
    margin: 0 auto;
    position: relative;
    margin-top: 65vh;
}

#tagline h3{
    font-weight: 500;
    font-size: 1.5em;
}

#tagline p{
    font-size: 1.3em;
    line-height: 1.3em;
    margin: 30px 0px 30px 0px;
}

#tagline a{
    color: #F0385A;
    font-size: 1em;
}

.description{
    margin: 40px 0px 40px 0px;
    line-height: 1.2em;
}

.workshopText h2{
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 30px;
}

.workshopText ul li{
    display: inline;
    color: #F0385A;
    font-weight: bold;
    font-size: 0.9em;
    margin-left: 2vw;
}

.workshopText a{
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    background-color: #F0385A;
    border: 4px solid #F0385A;
    color: #fff;
    border-radius: 30px;
    padding: 18px 36px 18px 36px;
}

.workshopText a:hover{
    color: #F0385A;
    background-color: #fff;
    border: 4px solid #F0385A;
}

#workshopSpace{
    margin: 0 auto;
    margin-top: 15vh;
}

#spaceIllustration{
    width: 45vw;
    float: left;
    margin-left: -3vw;
}

#spaceText{
    float: left;
    width: 450px;
    margin-left: 10vw;
    margin-top: 8vh;
}

#workshopGame{
    margin: 0 auto;
}

#gameIllustration{
    width: 40vw;
    float: right;
    margin-right: 5vw;
}

#gameText{
    float: right;
    width: 460px;
    margin-right: 8vw;
    margin-top: 12vh;
}

#workshopApp{
    margin: 0 auto;
    margin-top: 20vh;
}

#appIllustration{
    width: 35vw;
    float: left;
    margin-left: 8vw;
}

#appText{
    float: left;
    width: 450px;
    margin-left: 10vw;
    margin-top: 12vh;
}

.about{
    margin-top: 20vh;
    position: relative;
}

.aboutText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    width: 840px;
}

.aboutText h2{
    font-size:1.5em;
    font-weight: bold;
}

.aboutText p{
    margin-bottom: 30px;
    line-height: 1.5em;
}

#pinkText {
    color: #F0385A;
    margin: 15px 0px 30px 0px;
}

#usp{
    margin: 0 auto;
    text-align: center;
    margin-top: 15vh;
}

#uspTitle h3{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

#uspTitle p{
    color: #F0385A;
}

#uspCardsContainer{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 90px;
    margin-bottom: 100px;
}

.uspCard{
    width: 20vw;
}

.uspCard img{
    width: 200px;
}

#uspCardLeft img{
    width: 200px;
    height: 200px;
}

.uspCard h4{
    font-weight: bold;
    font-size: 1.3em;
    margin: 70px 0px 30px 0px;
}

.uspCard p{
    line-height: 1.5em;
}

#uspCardMiddle h4{
    margin: 30px 0px 30px 0px;
}

#whitespace{
    height: 500px;
    width: 100%;
    position: absolute;
}

#usp a{
    font-weight: bold;
    text-decoration: none;
    background-color: #F0385A;
    border: 4px solid #F0385A;
    color: #fff;
    border-radius: 30px;
    padding: 18px 36px 18px 36px;  
}

#usp a:hover{
    color: #F0385A;
    background-color: #fff;
    border: 4px solid #F0385A;
}

